.app {
  &__grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 2rem 1rem;
  }
}

.grid {
  &--two__columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &--three__columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}