.card {

  &__body {
    margin: 1rem;
    padding: 1.4rem 1rem;
    background-color: $primary-bg;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  &__btn {
    &--delete {
      font-size: 2.2rem;
      cursor: pointer;
      float: right;
      color: firebrick;
      margin: 0rem 0.6rem;
    }

    &--edit {
      font-size: 2.2rem;
      cursor: pointer;
      float: right;
      color: lime;
      margin: 0rem 0.6rem;
    }
  }


}
