*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style-type: none;
  transition: 0.3s linear;
  text-transform: capitalize;
}

*::selection {
  background-color: black;
  color: $primary-color;
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $primary-bg;
  border-radius: 5rem;
}

fieldset {
  border: none;
}
