*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style-type: none;
  transition: 0.3s linear;
  text-transform: capitalize;
}

*::selection {
  background-color: black;
  color: $primary-color;
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $primary-bg;
  border-radius: 5rem;
}

html {
  overflow-x: hidden;
  scroll-padding-top: 8rem;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Courier New", Courier, monospace;
  padding-top: 6rem;
  // BACKGROUND
  // background-image: url("../../assets/img/background-cellguy.png");
  background-color: rgb(241, 241, 241);
  background-clip: border-box;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-attachment: fixed;
}

fieldset {
  border: none;
}
