$primary-color: rgb(34, 255, 218);
$secondary-color: rgb(170, 255, 241);
$tertiary-color: rgb(97, 207, 189);
$quaternary-color: rgb(0, 136, 113);

$primary-bg: rgb(170, 255, 241);
$secondary-bg: rgb(236, 252, 249);
$tertiary-bg: rgb(170, 255, 241);
$quaternary-bg: rgb(170, 255, 241);

$primary-text: rgb(170, 255, 241);
$secondary-text: rgb(170, 255, 241);
$tertiary-text: rgb(170, 255, 241);
$quaternary-text: rgb(170, 255, 241);

$trans-dur: 0.3s;